*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins' , 'sans-serif';
}
body
{
    color: #ededed;
    background-image:url("bg2.png");
    
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 18px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
              1px 1px 40px #0053b8f7
}
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.read:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0  200px cyan
}

.main-text{
    padding-top: 130px;
    margin-top: 200px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span {
    color: #0ef;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #aee3fd; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  
.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: rgb(27, 22, 22); /* White text color */
    font-size: 36px; /* Increased font size */
}
  
.icon-bar a:hover {
    background-color: #dbcdcd; /* Add a hover color */
}
  
.active {
    background-color: #96cdb9; /* Add an active/current color */
}

* {
    box-sizing: border-box;
}
  
  /* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
  /* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #0c8cf6;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
  
form.example button:hover {
    background: #0b7dda;
}
  
  /* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}
.AvailableBooks{
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 100px;
}
div.gallery {
    border: 1px solid #ccc;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: 100%;
}
  
div.desc {
    padding: 15px;
    text-align: center;
    color:#000;
}
  
* {
    box-sizing: border-box;
}
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 20%;
}
  
@media only screen and (max-width: 100px) {
    .responsive {
      width: 20%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 100px) {
    .responsive {
      width: 50%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 20px;
    line-height: 1;
    margin: 15px 0;
    color:#dabb0b;
}
.contact-text h3{
    margin: 15px 0;
    color: rgb(21, 19, 19);
    font-size: 50px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(63, 33, 33);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-newtext p{
    color: rgb(43, 34, 34);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}