<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>All Books</title>
    <link rel="stylesheet" href="{% static 'styles/all_books' %}" type="text/css">
    <style>
        .home-container{
            display: grid;
            grid-template-columns: 1fr 3fr;
        }

        .book-cards{
            margin-left: 2rem;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <br>
    <form method="get">
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by">
            <option value="title">Title</option>
            <option value="author">Author</option>
            <!-- Add more sorting options here -->
        </select>
        <button class="btn btn-outline-primary" type="submit">Sort</button>
    </form>

    <div class="home-container">
        <div>
            <h3>Browse Books</h3>
            <hr>
            <div>
                <a href="{% url 'all_books' %}">All</a>
            </div>
            {% for category in categories %}
                <div>
                    <a href = "{% url 'all_books' %}?q={{category.name}}">{{category.name}}</a>
                </div>
            {% endfor %}
        </div>
        <div class="book-cards">
            <h5>{{books_count}} Books available</h5>
            {% for book in books %}
                <div class="book-card">
                    <h2>{{ book.title }}</h2>
                    <p>Author: {{ book.author }}</p>
                    <p>Condition: {{ book.condition }}</p>
                    <!-- Display other book details as needed -->
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
