<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/product_detail.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>{{ book.title }}</title>
</head>
<body style="padding-top: 5rem;">
    {% include 'navbar.html' %}
    <div class="product-detail">
        <div class="product-image">
            <img src="{{ book.images.url }}" alt="{{ book.title }}"/>
            {% if book.donor and book.donor.username != user.username %}
                <a class="btn btn-warning" href="{% url 'chat' owner_name=book.donor.username %}">Chat Now!</a>
            {% else %}
                <a class="btn btn-warning" href="#">Chat Unavailable</a>
            {% endif %}
            </div>
        <div class="product-text">
            <h1 class="product-title">{{ book.title }}</h1>
            <p class="product-author">Author: {{ book.author }}</p>
            <p class="product-publication">Publication: {{ book.publication }}</p>
            {% if book.price == 0 %}
                <p class="card-price">Free</p>
            {% else %}
                <p class="card-price">Price: ₹{{ book.price }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
