<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcadMat</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
	{% include 'navbar.html' %}
    {% include 'messages.html' %}
  <div class="hero-bg">
    <img class="bg-2" src="{% static 'images/hero-bg.png' %}"/>
    <img class="bg" src="{% static 'images/hero-bg-2.png' %}"/>
  </div>
  <img class="hero" src="{% static 'images/hero.png' %}"/>  
  <div class="title">
    <h4 style="font-size:3vw"><span>Bridging</span> The Gap<br> In <br>Academic <span>Resources</span></h4>
    <a href="{% url 'signup' %}"><button class="btn btn-warning btn-outline-dark btn-lg register">Join Us</button></a>
  </div>
  <div class="rectangle-container">
    <div class="rectangle" data-aos="fade-right">
        <div class="overlay-text">
            Breaking Financial<br>Barriers
            <div><button class="btn btn-outline-dark read-more-btn" data-content="breaking-financial-content">Read More</button>
            </div>
        </div>
        <picture>
            <source srcset="{% static 'images/financial-barriers.jpg' %}" media="(max-width: 100%)">
            <img src="{% static 'images/financial-barriers.jpg' %}" alt="Image Showing a Man Breaking Financial Barriers">
        </picture>
    </div>
    <div class="rectangle" data-aos="fade-up">
        <div class="overlay-text">
            Promoting Sustainable<br>Learning
            <div><button class="btn btn-outline-dark read-more-btn" data-content="promoting-sustainable-content">Read More</button>
            </div>

        </div>
        <picture>
            <source srcset="{% static 'images/promoting-sustainable-learning.jpg' %}" media="(max-width: 100%)">
            <img src="{% static 'images/promoting-sustainable-learning.jpg' %}" alt="Lending a Book">
        </picture>
    </div>
    <div class="rectangle" data-aos="fade-left">
        <div class="overlay-text">
            Empowering Backward<br>Communities
            <div><button class="btn btn-outline-dark read-more-btn" data-content="empowering-communities-content">Read More</button>
            </div>
        </div>
        <picture>
            <source srcset="{% static 'images/empowering-backword-communities.jpg' %}" media="(max-width: 100%)">
            <img src="{% static 'images/empowering-backword-communities.jpg' %}" alt="Love to Learn">
        </picture>
    </div>
  </div>
<div id="about" class="about" data-aos="flip-left">
  <div class="content">
      <h2>About Us</h2>
      <h1>Our Mission</h1>
      <p>ACADMAT's mission is to bridge the gap in academic resources, connecting surplus materials with those in
          need. We believe in the transformative power of education and strive for a world where every student has
          access to essential learning tools.</p>
      <button class="btn4 learn-more-btn" data-content="about-content">Learn More</button>
  </div>
  <img src="{% static 'images/mission.jpg' %}" alt="Mission">
</div>
<br>
<div id="vision" class="vision" data-aos="flip-right">
  <div class="content">
      <h2>What We Do</h2>
      <h1>Our Vision</h1>
      <p>ACADMAT envisions empowering education through revolutionary resource sharing. Our platform bridges the
          gap between surplus and needy, fostering a generous collaborative community.</p>
      <button class="btn5 learn-more-btn" data-content="vision-content">Learn More</button>
  </div>
  <img src="{% static 'images/vision.jpg' %}" alt="Vision">
</div>
<div id="breaking-financial-content" class="popup-content" style="display: none;">
  <h2>Breaking Financial Barriers</h2>
  <p>We understand the challenges students face in obtaining expensive academic materials. By leveraging the
      AcadMat platform, students can now access affordable, high-quality used textbooks and reference materials,
      enabling them to pursue their academic dreams without the burden of exorbitant costs. Through our
      initiative, we're breaking down financial barriers and fostering a level playing field for all learners.</p>
</div>
<div id="promoting-sustainable-content" class="popup-content" style="display: none;">
  <h2>Promoting Sustainable Learning</h2>
  <p>AcadMat is committed to promoting sustainable practices in education. With our focus on reusing and recycling
      academic materials, we encourage sellers and donators to contribute to the circulation of knowledge,
      reducing the demand for new book production and minimizing our environmental footprint. Together, we can
      create a more sustainable future for generations to come.</p>
</div>
<div id="empowering-communities-content" class="popup-content" style="display: none;">
  <h2>Empowering Undeserved Communities</h2>
  <p>Our vision extends beyond just a platform for buying and selling books. A portion of the proceeds from every
      transaction goes towards supporting educational outreach in underserved communities.</p>
</div>
<div id="about-content" class="popup-content" style="display: none;">
  <h2>Our Mission</h2>
  <p>

      At ACADMAT, we believe in the transformative power of education and its ability to change lives. Our mission
      is to bridge the gap in academic resources, connecting individuals who have surplus educational materials
      with those who need them the most. We envision a world where no student is held back by the lack of access
      to essential learning tools.

  <h2>About Us</h2>

  ACADMAT came with the vision of addressing the issue of unused academic resources going to waste and
  students facing financial barriers to education. <br>

  Our platform is designed to be a user-friendly and secure space where generous individuals can share their
  surplus academic resources, such as textbooks, school bags, uniforms, and more. We aim to foster a
  supportive community that believes in the power of sharing knowledge for the greater good. <br>

  By connecting donors and recipients, we strive to create a sustainable ecosystem of resource sharing,
  reducing waste, and promoting a circular economy in education. Together, we can make a difference in the
  lives of students, educators, and our environment. <br>

  Join us on this empowering journey of education, collaboration, and resource repurposing. Together, we can
  build a brighter and more equitable future for every learner.</p>
</div>
<div id="vision-content" class="popup-content" style="display: none;">
  <h2>Our Vision</h2>
  <p>

      At ACADMAT, our vision is to empower education by revolutionizing the way academic resources are shared and
      accessed. We are committed to creating a platform that bridges the gap between those with surplus resources
      and those in need, fostering a community built on collaboration and generosity.

      <h2>What We Do</h2>

      At ACADMAT, we provide a purposeful platform that allows individuals to repurpose their academic resources
      for a greater cause. We understand that educational materials, like books, school bags, and uniforms, often
      go unused after an academic session. Simultaneously, we recognize that many students and learners face
      financial constraints that hinder their access to these essential resources. <br>

      Our platform facilitates a seamless process for generous donors to list their surplus resources and connect
      with recipients in need. Through our website, donors can share their materials with others, either for free
      or at a lower price, creating a sustainable way of giving back to the community. <br>

      For recipients, ACADMAT serves as a resource hub, where they can search for and acquire academic materials
      that will enhance their learning journey. We aim to make education more accessible and equitable for all,
      breaking down barriers and ensuring that no student is left behind due to the lack of necessary resources. <br>

      By promoting resource sharing, ACADMAT strives to make a positive impact not only on education but also on
      the environment. We are driven by the vision of a circular economy in education, where resources are
      repurposed, reused, and given new life, contributing to a greener and more sustainable future. <br>

      Join us in our mission to empower education, one shared resource at a time. Together, we can create a world
      where knowledge knows no bounds and every learner has the tools they need to thrive. <br>
  </p>
</div>

<div class="popup" id="popup">
  <span class="popup-close" id="popup-close">&times;</span>
  <div id="popup-inner"></div>
</div>

<section class="home">
  <div class ="home-content">
      <h3><u>FAQs</u></h3>            
  
    <div class="faq_container">
        <div class="faq">
            <div class="faq_question open">> Can I donate books to the website?</div>
            <div class="faq_answer_container" style="display: block;">
                <div class="faq_answer">Absolutely! We encourage book donations to support our community. You can donate books by going to the "Donate" section and following the instructions to submit your donation details.</div>
            </div>
        </div>

        <div class="faq">
            <div class="faq_question">> How do I contact the seller/donor?</div>
            <div class="faq_answer_container">
                <div class="faq_answer">You can contact the seller by clicking on the "Chat Now!" option. You can discuss item details,payment, or shipping arrangements through this platform.</div>
            </div>
        </div>

        <div class="faq">
            <div class="faq_question">> Is there a fee for using ACADMAT to find or list academic resources?</div>
            <div class="faq_answer_container">
                <div class="faq_answer">No, ACADMAT is a free platform for users to share and find academic resources.</div>
            </div>
        </div>
        <div class="faq">
            <div class="faq_question">> How can I list my academic resources on ACADMAT?</div>
            <div class="faq_answer_container">
                <div class="faq_answer">To list your academic resources, simply log in to your ACADMAT account, navigate to the "Give Away" section, and follow the easy steps to create a listing.</div>
            </div>
        </div>
        <div class="faq">
            <div class="faq_question">> Can I search for specific academic resources on ACADMAT?</div>
            <div class="faq_answer_container">
                <div class="faq_answer">Absolutely! ACADMAT provides a search feature that allows you to look for specific academic resources.</div>
            </div>
        </div>
    </div>
  </div>

  <div class="last-text">
      <p>Developed by the team of AcadMat @ 2023</p>
  </div>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>